*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
.bg{
    width:100vw ;
    height: 85.5vh;
    background: url(/front/Resource/img/fundo.jpg) no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 100px;
}
.img{
    background: url(/front/Resource/img/cliente.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
    width: 400px;
    height: 530px;
}

.container{
    border-radius: 0 10px 10px 0;
     width: 300px; 
  
    text-align: center;
    padding: 60px 32px;
  
    background: rgba(255, 255, 255, 0.133);
    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
    height: 410px;
}
.group{
    margin-bottom: 15px;
    display: grid;
    text-align: left;
    
}

.input{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border: 0px;
    padding: 2px;
}
label{
    font-size: 13px;
    margin-left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    
}
.btn{
    margin-top: 15px;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
}
.btn:hover{
    background-color: rgb(65, 63, 63);
    color: #fff;
    cursor: pointer;
}
